<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
	<appSettings>
		<!--<add key="setvalue" value="192.168.0.93:8899,10,1003,10,1,설비1#fcvy01,카운트,0#B#1^
		<add key="setvalue" value="192.168.0.94:8899,10,30,10,1,설비2#Fcvy02, 전력, 0#B#1^
                               192.168.0.93:8899,10,1003,10,1,설비1#fcvy01,카운트,0#B#1
			                       " />-->
	</appSettings>
</configuration>
