<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
	<appSettings>
		<!-- 디바이스 설정: IP:포트,레지스터타입,시작주소,길이,슬레이브ID,디바이스명#내부명,단위,0#B#1 -->
		<add key="setvalue" value="192.168.0.94:502,10,30,10,1,설비2#Fcvy02,전력,0#B#1^
192.168.0.92:502,10,30,1,1,전력계2#kw2,전력,0#B#1^
192.168.0.93:502,10,1003,10,1,카운터1#counter1,카운트,0#B#1^
192.168.0.95:502,10,1003,10,1,카운터#counter,카운트,0#B#1" />
	</appSettings>
</configuration>
